[submodule "repos/calypso"]
	path = repos/calypso
	url = https://github.com/Automattic/wp-calypso
[submodule "repos/gutenberg"]
	path = repos/gutenberg
	url = https://github.com/WordPress/gutenberg
[submodule "repos/wordpress-core"]
	path = repos/wordpress-core
	url = https://github.com/WordPress/wordpress-develop
[submodule "repos/ciab"]
	path = repos/ciab
	url = git@github.a8c.com:Automattic/ciab-admin.git
[submodule "repos/jetpack"]
	path = repos/jetpack
	url = https://github.com/Automattic/jetpack
